*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-padding-top: 4rem;
    
}

body{
    background-color: white !important;
    height: 100vh;
    
}
#topNav{
    color: black;
    font-size: large;
    font-weight:bold;
    
}

hr{
    height: 2px !important;
    padding: 0;
    margin: 0;
    background-color: black!important;
    opacity: 100%;
}

.wrapper{
    box-sizing: content-box;
    background-color: white;
    height: 70px;
    
    display: flex;
    justify-content: center;
    
}

.spanClass{
    display: block;
    height: 100%;
    padding-left: 10px;
    color: #0e6ffc;
    animation: spin_words 4.5s infinite;
    text-align: center;
    font-size: 2.5rem;
}

.words{
    overflow: hidden;
}

@keyframes spin_words {
    13.333%{
        transform: translateY(-112%);
    } 
    33.333%{
        transform: translateY(-100%);
    }
    46.666%{
        transform: translateY(-212%);
    } 
    66.666%{
        transform: translateY(-200%);
    }    
    79.999%{
        transform: translateY(-312%);
    }  
    100%{
        transform: translateY(-300%);
    } 
    
}

#myName{
    font-size: 3rem;
    
}

.negMargin{
    margin-bottom: -15px;
}

@media only screen and (max-width: 530px) {
    
    .negMargin{
        margin-bottom: -10px;
    }
  }





  
.links ul{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 2rem;
}

.links li{
    list-style: none;
    
}

.links li a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight:bold;
    display: block;
    
}

.resume{
    background-color: red;
}

/* @media (min-width:768px){
    .resume{
        display: none; 
        width: 100%;
        height: 100%;
        
    }
} */










.navbarTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.toggle{
    
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 100%;
}

.toggle .bar{
    height:3px;
    background-color: black;
    border-radius: 10px;
}



@media (max-width:768px){
    .toggle{
        display: flex;
        flex-shrink: 0;
        
    }

    
    
    .remove{
        display: none; 
        width: 100%;
        height: 100%;
        
    }
    .place{
        flex-direction: row;
        display: flex;
        justify-content: space-between !important;
        width: 100%;
    }
    /* .navbarTop{
        flex-direction: column;
        align-items: flex-start;
        gap: 10vh;
        
    } */
    .links ul{
        flex-direction: column;
        width: 100%;
        gap: 5vh;
    }
    .links li{
        
        text-align: center;
        
    }

    .links.active{
        display: flex;
        height: 100vh;
    }
    

    
    

}

@media (max-width:992px){
    .jobs{
        margin-bottom: 3vh;
    }
    .projects{
        width: 100% !important;
    }
    
}

.projects{
    width:27.7777777%;
}



.about{
    display:inline
}



.college{
    display: flex;
    justify-content: space-between;
}


p{
    margin: 0;
    padding: 0;
}

.skillsRow{
    display: flex;
    gap: .2rem;
    
    vertical-align: bottom;
    flex-wrap: wrap;
}
.skills{
    
    padding: 2px 5px;
    text-align: center;
    font-size: 80%;
    background-color: silver;
    border-radius: 10vh;
    bottom: 0;

}

.outer{
    background-color: orange;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trademark{
    padding-top: 7vh !important;
}






